/* Set height of body and the document to 100% to enable "full page tabs" */
body,
html {
    height: 100%;
    margin: 0;
    /* needs importing still */
    font-family: Poppins; 
}

#chatbotbutton {
    background-color: #feb031;
    border-radius: 6px;
    border: none;
    padding: 15px 15px;
}

/* Style tab links */
.tablink {
    background-color: #e2e2e2;
    color: black;
    float: left;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 50%;
}

.tablink:hover {
    background-color: #56e49b;
    color: white;
}

.tabs {
    border-radius: 6px;
    outline: #707070 solid 2px;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: black;
    display: none;
    height: 90%;
}

#bjss {
    background-color: white;
}

#agile {
    background-color: white;
}

/* css grid */
.container {
    display: grid;
    grid-template-columns: 0.5fr 8fr 0.5fr;
    grid-template-rows: 0.5fr 0.5fr 2.5fr 0.5fr;
    gap: 0em 0em;
    grid-auto-flow: row;
    background-color: transparent;
}

.chatbotButton {
    grid-area: 1 / 1 / 2 / 3;
}

.askAbout {
    grid-area: 2 / 1 / 5 / 4;
    background-color: #e2e2e2;
}

.askAboutText { grid-area: 2 / 2 / 3 / 3; }

.tabs {
    grid-area: 3 / 2 / 4 / 3;
}